*{
 margin: 0px;
 padding: 0px; 
 font-family: sans-serif;  
 box-sizing: border-box;
}
body{
    background-color: #311131;
}
.detel{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin:20px auto;
}
.detel h1{
font-size: 50px;
color: #c5ac1b;
margin-bottom: 25px ;
position: relative;
}
.detel hl::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #330b58;
}
.container{
    width: 90%;
    margin:0 auto;
    padding: 10px 20px;
}
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.about-image{
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}
.about-image img{
    max-width: 100%;
    height: 500px;
    display: block;
    transition: 0.5s ease;

}
.about-content{
    flex: 1;   
}
.about-content p{
    font-size: 18px;
    line-height: 1.5;
    color: white;  
}
span{
    color: rgb(130, 150, 57);;
}
a{
 font-size: 20px;   
 font-family: sans-serif;
 text-align: center;
 display: inline-block;
 color: white;
 padding: 12px 25px;
 text-decoration: none;
 right: 100px;
}
a:hover {
    background-color: #330808;
}
#act{
    background-color: #0fbd34;
}
.form {
display: flex;
align-items: center;
flex-direction: column;
gap: 10px;
background-image: linear-gradient(45deg,#330808,#3a2c09);
border-radius: 2.5em;
padding: 50px;
width: 900px;
height: 700px;
}
.form::before {
content:"";
background-image: linear-gradient(45deg,
#f10808,
#ffb700);
height: 358px;
width: 309px;
position: absolute;
margin-top: -34px;
margin-left: px;
z-index: -1;
border-radius: 2.7em;
}
.button {
margin-top: 10px;
font-family: Arial, Helvetica,
sans-serif;
font-size: 30px;
background: #ff5900;
color: black;
padding: 0.7em 5.5em;
display: flex;
align-items: center;
border: 2px solid #66da4300;
border-radius: 5em;
overflow: hidden;
transition: all 0.25;
cursor: pointer;
}

.button:hover{
border: 2px solid #ff5900;
background: #00000000;
color: #ff5900;
}
.button:active {
border: 2px solid #66da4300;
background:#ff5900;
color: black;
}
.input{
font-size: 30px;
width: calc(100% - 10px);
padding: 8px;
margin-bottom: 20px;
border: 1px solid #66da4300;
border-bottom: 1px solid #ff5900;
outline: none;
background-color: transparent;
color: #ff5900;
font-family: Arial, Helvetica,
sans-serif;
transition: 0.25;
}
.input:focus {
border: 1px solid #66da4300;
border-bottom: 1px solid #ff5900;
background-color: transparent;
color: rgb(252, 251, 248);
}
.input::placeholder{
color: #9b725b;
}
.textarea{
font-size: 30px;
font-family: Arial, Helvetica,
sans-serif;
width: calc(100% - 10px);
padding: 8px;
height: 100px;
margin-bottom: 20px;
border: 1px solid #66da4300;
border-bottom: 1px solid #ff5900;
outline: none;
background-color: transparent;
color: #ff5900;
}
.textarea::placeholder{

color: #9b725b;
}
.textarea:focus {
border: 1px solid #66da4300;
border-bottom: 1px solid #ff5900;
background-color: transparent;
color: rgb(228, 108, 10);
}
#field{
 border-width: 3px;
 max-width: 1000px;
 min-width: 400px;
 max-height: 300px;
 min-height:250px ;
 margin: auto;
}
#leg{
font-size: 40px;
color: white;
}
.abut{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin:20px auto;
}
.abut h1{
font-size: 50px;
color: #a39024;
margin-bottom: 25px ;
position: relative;
}
.abut hl::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #330b58;
}
.call{
    width: 90%;
    margin:0 auto;
    padding: 10px 20px;
}
.abac{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.images{
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}
.images img{
    max-width: 80%;
    height: 500px;
    display: block;
    transition: 0.5s ease;
}
.content{
    flex: 1;   
}
.content p{
    font-size: 18px;
    line-height: 1.5;
    color: rgb(90, 89, 42);  
    
}
.skul{
    flex: 1;   
}
.skul p{
    font-size: 18px;
    line-height: 1.5;
    color: rgb(90, 89, 42);  
    
}


